<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Mali Graphics Lab"
        android:theme="@style/MaliTheme"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GraphicsLabActivity" android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity android:name=".LauncherDemoActivity" android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>
</manifest>
